<div class="row">
	<div class="rectangle">
			<div class="col-md-2 col-md-offset-1 offsetTables" ng-repeat="table in tables">
				<p><div class="droppable-table" data-drop="true" ng-model='tables' ng-show="true"
					jqyoui-droppable="{index: {{$index}}}">
						<div class="placeAdminTable taable"  ng-show="table.located"
							data-drag="true" ng-model="tables" data-jqyoui-options="{revert: 'invalid'}"
							jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">
							
							    <div ng-class="['placeAdminTable', n.text]" ng-repeat="n in table.guestAmount">
										<div class="droppable-guest" data-drop="true" 
											data-jqyoui-options="{revert: 'invalid'}" ng-model="table.guests"
											jqyoui-droppable="{index: {{$index}},animate:false, onDrop:'dropCallback(table)'}">
											<div class="draggable-guest" data-drag="true" 
												data-jqyoui-options="{revert: 'invalid'}" ng-model="table.guests"
												jqyoui-draggable="{index: {{$index}},animate:false, onStart:'startDragTable(guest, table)'}">
												
													<i ng-show="table.guests[$index].firstName" style="margin-left: 40%" class="fa fa-user text-success"></i>
			 										<div style="text-align: center;">{{table.guests[$index].firstName}} {{table.guests[$index].lastName}}</div>
			 								</div>		
		 								</div>
								</div>
						</div>	
		            </div>
		         </p>
		    </div> 
	</div
</div>	
<div class="row" style="margin-top: 2%">
	 <div class="col-sm-6">
		<form name="addTableForm" role="form">
				<div class="col-sm-4">
					<ui-select ng-model="formModel.guestAmountPerTable" theme="selectize">
			  				<ui-select-match placeholder="Guest Amount">{{$select.selected.number}}-{{$select.selected.text}}</ui-select-match>
			  				<ui-select-choices class="text-center" repeat="amountGuest in amountGuests">{{amountGuest.number}} - {{amountGuest.text}}</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-primary" ng-click="addTable()" type="submit"><i class="fa fa-plus glyphiconSpace"></i></button>
				</div>
		</form>
		
		<form name="saveTableForm" role="form">
				<div class="col-sm-4">
					<button class="btn btn-primary" ng-click="save()" type="submit"><i class="fa fa-plus glyphiconSpace"></i><legend translate>place.administrator.buttonSave<legend/></button>
				</div>
		</form>
	</div>	
	<div class="col-sm-6 well scrollable-x" style="height: 100px;display: block;">
<!-- 		<div class="navbar-inner"> -->
			<div class="container">
				<div class="droppable-btn-guest" data-drop="true" ng-model='guests' ng-repeat="guest in guests"
					jqyoui-droppable="{index: {{$index}},animate:false}">
						<div class="draggable-guest" data-drag="true" 
							data-jqyoui-options="{revert: 'invalid'}" ng-model="guests"
							jqyoui-draggable="{index: {{$index}},animate:false, onStart:'startCallback(guest, $index)'}">
								<span>
								<i style="margin-left: 40%" class="fa fa-user text-success"></i>
		 						<div style="text-align: center;">{{guest.firstName}} {{guest.lastName}}</div>
		 						</span>
						</div>
				</div>
			</div>
<!-- 		</div> -->
	</div>

</div>