<div > 
	<form name="placeForm" role="form">
		<div class="row">
			<div class="col-md-4 font-secondtitle">
				Place
			</div>
		</div>
		<div class="line"></div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Place Name" ng-model="place.businessName" required>
				</div>
			</div>
			<div class="col-md-4">	
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Price" ng-model="place.price">
				</div>
			</div>	
		</div>	
		<div class="row">
			<div class="col-md-4 font-secondtitle">
				How long ?
			</div>
		</div>	
		<div class="line"></div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Estimated Quantity Tables" ng-model="place.estimatedQuantityTables">
				</div>
			</div>	
			<div class="col-md-4">	
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Estimated Quantity Persons" ng-model="place.estimatedQuantityPerson">
				</div>
			</div>	
		</div>		
		<div class="row">
			<div class="col-md-4 font-secondtitle">
				Where ?
			</div>
		</div>	
		<div class="line"></div>
		<div class="row">
			<div class="col-md-4">	 
				<ui-select  ng-model="place.location.province" theme="selectize">
				   	<ui-select-match placeholder="Province or State">{{$select.selected}}</ui-select-match>
					<ui-select-choices repeat="province in provinces">{{province}}</ui-select-choices>
		 		</ui-select>
			</div>
			<div class="col-md-4">
				<ui-select ng-model="place.location.countryCode" theme="selectize">
	   				<ui-select-match placeholder="Country place">{{$select.selected}}</ui-select-match>
	   				<ui-select-choices repeat="country in countries">{{country}}</ui-select-choices>
	 				</ui-select>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<input type="email" class="form-control" name="city"
						placeholder="city" ng-model="place.location.city">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">	
				<div class="form-group">
					<input type="text" class="form-control" name="neighborhood"
						placeholder="neighborhood" ng-model="place.location.streetAddress.neighborhood">
				</div>
			</div>	
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" name="street"
						placeholder="Street" ng-model="place.location.streetAddress.street">
				</div>
			</div>	
			<div class="col-md-3">	
				<div class="form-group">
					<input type="text" class="form-control" name="number"
						placeholder="Number" ng-model="place.location.streetAddress.number">
				</div>
			</div>	
			<div class="col-md-3">	
				<div class="form-group">
					<input type="text" class="form-control" name="city"
						placeholder="Ej : 6° B" ng-model="place.location.streetAddress.additionalInfo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
			</div>
		</div>		
	</form>
</div>
