<div > 
	<form name="placeForm" role="form">
		<div class="row">
			<div class="col-md-4 font-secondtitle">
				<span translate>place.title.1<span/>
			</div>
		</div>
		<div class="line"></div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{{'place.input.name' | translate}}" ng-model="place.businessName" required>
				</div>
			</div>
			<div class="col-md-4">	
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{{'place.input.price' | translate}}" ng-model="place.price">
				</div>
			</div>	
		</div>	
		<div class="row">
			<div class="col-md-4 font-secondtitle">
				<span translate>place.title.2<span/>
			</div>
		</div>	
		<div class="line"></div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{{'place.input.estimatedTables' | translate}}" ng-model="place.estimatedQuantityTables">
				</div>
			</div>	
			<div class="col-md-4">	
				<div class="form-group">
					<input type="text" class="form-control" placeholder="{{'place.input.estimatedPersons' | translate}}" ng-model="place.estimatedQuantityPerson">
				</div>
			</div>	
		</div>		
		<div class="row">
			<div class="col-md-4 font-secondtitle">
				<span translate>place.title.<span/>
			</div>
		</div>	
		<div class="line"></div>
		<div class="row" ng-controller="LocationSearchComboController">
			<div class="col-md-4">
				<ui-select  ng-change="loadStates()" ng-model="search.country" theme="selectize">
	   				<ui-select-match placeholder="{{'advancedSearch.input.country' | translate}}">{{$select.selected.name}}</ui-select-match>
	   				<ui-select-choices repeat="country in countries">{{country.name}}</ui-select-choices>
	 			</ui-select>
			</div>
			<div class="col-sm-4">
				<ui-select ng-change="loadCities()" ng-model="search.state" theme="selectize">
	   				<ui-select-match placeholder="{{'advancedSearch.input.state' | translate}}">{{$select.selected.name}}</ui-select-match>
	   				<ui-select-choices repeat="state in states">{{state.name}}</ui-select-choices>
	 			</ui-select>
			</div>
			<div class="col-md-4">
				<ui-select ng-model="search.city" theme="selectize">
	   				<ui-select-match placeholder="{{'advancedSearch.input.city' | translate}}">{{$select.selected.name}}</ui-select-match>
	   				<ui-select-choices repeat="city in cities">{{city.name}}</ui-select-choices>
	 			</ui-select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">	
				<div class="form-group">
					<input type="text" class="form-control" name="neighborhood"
						placeholder="{{'advancedSearch.input.neighborhood' | translate}}" ng-model="place.location.streetAddress.neighborhood">
				</div>
			</div>	
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" class="form-control" name="street"
						placeholder="{{'place.input.street' | translate}}" ng-model="place.location.streetAddress.street">
				</div>
			</div>	
			<div class="col-md-3">	
				<div class="form-group">
					<input type="text" class="form-control" name="number"
						placeholder="{{'place.input.number' | translate}}" ng-model="place.location.streetAddress.number">
				</div>
			</div>	
			<div class="col-md-3">	
				<div class="form-group">
					<input type="text" class="form-control" name="additionalInfo"
						placeholder="{{'place.input.additionalInfo' | translate}}" ng-model="place.location.streetAddress.additionalInfo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<button type="button" class="btn btn-primary" ng-click="save()"><span translate>place.buttonSave<span/></button>
			</div>
		</div>		
	</form>
</div>
