<div> 
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<div class="panel panel-primary" ng-show="placeSelected != null">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-2 col-lg-2"  style="margin-top: 20px;margin-left: 20px;">
							<img class="img-circle" ng-src="../img/evento.jpg" style="width: 90px; height: 90px">
						</div>
						<div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
							<h3><strong>{{placeSelected.businessName}}</strong></h3>
							<table class="table">
								<tbody>
									<tr>
										<td><h6><i class="fa fa-map-marker glyphiconSpace"></i>
												{{placeSelected.location.streetAddress.street}}
												{{placeSelected.location.streetAddress.number}}
												{{placeSelected.location.streetAddress.additionalInfo}}
												{{placeSelected.location.streetAddress.neighborhood}}.
												{{placeSelected.location.city}} ({{placeSelected.location.province}})
											</h6>
										</td>
									</tr>
									<tr>
										<td>
											<h6><i class="fa fa-money glyphiconSpace"></i>$ {{placeSelected.estimatedPrice}}</h6>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="panel-footer" style="height: 50px;">
					<span class="pull-right">
						<a class="btn btn-sm btn-warning" ng-click=goToDetail()>
							<i class="fa fa-pencil"></i>
						</a>
						<span ng-controller="DeleteConfirmationModalController">
		    			  	 <button class="btn btn-sm btn-danger" ng-click="openDeleteElementConfirmation(placeSelected)"><span class="fa fa-trash"></span></button>
		 		       	</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>