
<raw>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  	<p><span>Hola !</span></p>
  
  	<p>Tu nueva clave es : <strong><span th:text="${newPassword}">!</span></strong></p>
  
<!--   	<p> -->
<!--       <img src="sample.png" th:src="'cid:' + ${imageResourceName}" /> -->
<!--     </p> -->
    <p>
      Saludos, <br />
      <em>El Equipo de Mi-Evento</em>
    </p>
  </body>
</html>
</raw>