
<raw>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- 	<link rel="stylesheet" type="text/css" media="all" th:href="@{${baseUrl}/bower_components/bootstrap/dist/css/bootstrap.min.css}"/> -->
  </head>
  <body>
  	<p><span>Hola !</span></p>
  
  	<p>
  		Estas invitado al Evento  : <strong><span th:text="${eventName}"></span></strong>,el dia <strong><span th:text="${initialDate}"></span></strong> a las <strong><span th:text="${initialHour}"></span></strong>. 
  		
  	</p>
	<p>
	
		El lugar es <strong><span th:text="${placeName}"></span></strong>
		en <strong><span th:text="${placeAddress}"></span></strong>.
		
		Duracion estimada de <strong><span th:text="${duration}"></span></strong> horas.
  	</p>
  	<p>
  		
  		Para confirmar sus asitencia responder al mail. <strong><span th:text="${userEmail}"></span></strong>.
		
  	</p>	
		  
<!--   	<p> -->
<!--       <img src="sample.png" th:src="'cid:' + ${imageResourceName}" /> -->
<!--     </p> -->
    <p>	
      Saludos, <br />
      <em>El Equipo de Mi-Evento</em>
    </p>	
    Confirmar : <p th:text="${urlConfirm}"></p>
    Rechazar : <p th:text="${urlReject}"></p>
  </body>
</html>
</raw>