<div >
	<div class="row">
		<div class="col-md-12">	
			<table id="providerEventTable" class="table table-hover" ng-show="providers != null && providers.length">
				<thead>
					<tr>
						<th><span translate>event.provider.tableType<span/></th>
						<th><span translate>event.provider.tableName<span/></th>
						<th><span translate>event.provider.tablePhone<span/></th>
						<th><span translate>event.provider.tablePrice<span/></th>
						<th><span translate>event.provider.tableView<span/></th>
						<th><span translate>event.provider.tableDelete<span/></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="provider in providers">
					 	<td>{{provider.providerType}}</td>
						<td>{{provider.businessName}}</td>
						<td>
							<span>{{provider.cellPhone || "No Phone"}}</span>
							
						</td>
						<td>
							$ <a href="#" editable-text="provider.estimatedPrice" onbeforesave="save($data)">{{ provider.estimatedPrice || '0' }}</a>
						</td>
						<td><p>
								<button class="btn btn-info btn-xs btn-outline" ng-click="goToDetailProvider(provider)">
									<span class="fa fa-eye"></span>
								</button>
							</p>
						</td>
						<td><div ng-controller="DeleteConfirmationModalController">
								<p>
									<button class="btn btn-danger btn-xs btn-outline" ng-click="openDeleteListConfirmation(providers,provider)">
										<span class="fa fa-trash"></span>
									</button>
								</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="line"></div>
	<div class="row" ng-controller="ProviderSearchController">
		<div class="ui-group-buttons" dropdown>
             <button type="button" class="btn btn-primary dropdown-toggle btn-outline" dropdown-toggle popover="{{'event.provider.popover.bytype' | translate}}" popover-trigger="mouseenter" ><span translate>event.provider.buttonAdd</span><span class="caret faSpace"></span></button>
	         <ul class="dropdown-menu" role="menu" ng-controller="ProviderTypeController">
				<li ng-repeat="type in types | orderBy:'toString()'"><a href ng-click="goToProviderList(type)">{{type}}</a></li>
			 </ul>	 
			 <div class="or"></div>
             <button class="btn btn-success btn-outline" ng-click="toAdvancedSearch()"><span translate>advancedSearch.link</span><i class="fa fa-search faSpace"></i></button>
        </div>
	</div>
</div>
