<div >
	<div class="row">
		<div class="col-md-12">	
			<table id="providerEventTable" class="table table-hover" ng-show="providers != null && providers.length">
				<thead>
					<tr>
						<th><legend translate>event.provider.tableType<legend/></th>
						<th><legend translate>event.provider.tableName<legend/></th>
						<th><legend translate>event.provider.tablePhone<legend/></th>
						<th><legend translate>event.provider.tablePrice<legend/></th>
						<th><legend translate>event.provider.tableView<legend/></th>
						<th><legend translate>event.provider.tableDelete<legend/></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="provider in providers">
					 	<td>{{provider.providerType}}</td>
						<td>{{provider.businessName}}</td>
						<td>
							<span>{{provider.cellPhone || "No Phone"}} / {{provider.phone || "No Phone"}}</span>
							
						</td>
						<td>
							$ <a href="#" editable-text="provider.estimatedPrice" onbeforesave="save($data)">{{ provider.estimatedPrice || '0' }}</a>
						</td>
						<td><p>
								<button class="btn btn-info btn-xs" ng-click="goToDetailProvider(provider)">
									<span class="fa fa-eye"></span>
								</button>
							</p>
						</td>
						<td><div ng-controller="DeleteConfirmationModalController">
								<p>
									<button class="btn btn-danger btn-xs" ng-click="openDeleteListConfirmation(providers,provider)">
										<span class="fa fa-trash"></span>
									</button>
								</p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="line"></div>
	<div class="row" ng-controller="ProviderSearchController">
		<div class="dropdown" dropdown>
			<button class="btn btn-primary dropdown-toggle" dropdown-toggle aria-expanded="true">
				<legend translate>event.provider.buttonAdd<legend/><span class="caret glyphiconSpace"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="type in types | orderBy:'toString()'"><a href ng-click="search(type)">{{type}}</a></li>
			</ul>
		</div>
		<button class="btn btn-primary" ng-click="toAdvancedSearch()"><i class="fa fa-search"></i></button>
	</div>
</div>
