<div > 
	<div class="row" >
		<div class="col-md-12">
			<table id="guestsTable" class="table table-hover">
				<thead>
				  <tr class="text-center">
				     <th><spring:message code="guest.tableName"/></th>
		           	 <th><spring:message code="guest.tableSendInvitation"/></th>
		           	 <th><spring:message code="guest.tableStatus"/></th>
		         	 <th><spring:message code="guest.tableEdit"/></th>
		             <th><spring:message code="guest.tableDelete"/></th>
				  </tr>
				</thead>
				<tbody>
			        <tr ng-repeat="guest in guests">
			          	<td>{{guest.firstName}} {{guest.lastName}}</td>
			          	<td><i class="text-info fa fa-envelope glyphiconSpace"></i><a href ng-click="sendEmailToGuest(guest)">{{guest.email}}</a></td>
			          	<td>
			          		<span ng-show="guest.invitationStatus.status == 'Confirmado'">
			          			<i class="text-success fa fa-thumbs-o-up glyphiconSpace"></i>
			          		</span>
			          		<span  ng-show="guest.invitationStatus.status == 'Pendiente'">
			          			<i class="text-info fa fa-bomb glyphiconSpace"></i>
			          		</span>
			          		<span  ng-show="guest.invitationStatus.status == 'Rechazo'">
			          			<i class="text-danger fa fa-thumbs-o-down glyphiconSpace"></i>
			          		</span>
			          		<span ng-show="guest.invitationStatus.status == 'No invitado'">
			          			<i class="text-warning fa fa-times-circle-o glyphiconSpace"></i>
			          		</span>
			          		<span ng-show="guest.invitationStatus.status == 'Confirma el dia'">
			          			<i class="text-info fa fa-clock-o glyphiconSpace"></i>
			          		</span>
			          		{{guest.invitationStatus.status}}
			          		<span ng-show="guest.invitationStatus.updateStatusDate != null && guest.invitationStatus.status == 'Confirma el dia'">
			          			- {{guest.invitationStatus.updateStatusDate  | date:'dd-MM-yyyy'}}
			          		</span>
			          	</td>
			          	<td><p><button class="btn btn-primary btn-xs" ng-click="goToEditGuest(guest)"><span class="fa fa-pencil"></span></button></p></td>
	    			  	<td>
	    			  		<div ng-controller="DeleteConfirmationModalController">
	    			  	  		<p><button class="btn btn-danger btn-xs" ng-click="openDeleteListConfirmation(guests,guest)"><span class="fa fa-trash"></span></button></p>
	 		        	  	</div>
	 		        	</td>	
	 		        </tr>
		    	</tbody>
			</table>
		</div>
	</div>
	<button class="btn btn-primary " ng-click="goAddGuest()"><i class="fa fa-plus"></i><spring:message code="guest.buttonAdd"/></button>
	   
		
</div>
