<div>
	<div class="row">
		<div class="col-md-12">
			<div class="centered-message" class="row" ng-show="providers == null || providers.length == 0">
				<span class="font-noResult"><span translate>provider.list.notthere<span /></span>
			</div>
 			<table class="table table-bordered" class="table table-hover" ng-show="providers != null && providers.length"
				style="width: 90%; margin-left: 10px; margin-top: 10px">
				<tr class="active">
					<th><span translate>budget.tableType<span/></th>
					<th><span translate>budget.tableName<span/></th>
					<th><span translate>budget.tablePhone<span/></th>
					<th><span translate>budget.tablePrice<span/></th>
					<th><span translate>budget.tableView<span/></th>
					<th><span translate>budget.tableDelete<span/></th>
					<th><span translate>budget.tableSelected<span/></th>
					<th><span translate>budget.tableCompareTo<span/></th>
					<th><span translate>budget.tableMoreCheaper<span/></th>
				</tr>
				<tbody>
					<tr ng-repeat-start="item in items">
						<td colspan="9" ng-click="order.collapseRows = !order.collapseRows" class="collapsible-row">
							{{item.providerType}}  
							<span ng-class="{'caret':!order.collapseRows, 'right-caret':order.collapseRows}"></span>
							 <strong class="text-center"><span translate>budget.tableTotalBudget</span><span class="text-danger">{{item.totalBudget}}</span></strong>
						</td>
					</tr>
					<tr ng-repeat-end ng-repeat="provider in item.providers" ng-hide="order.collapseRows">
						<td rowspan="{{item.providers.length}}" ng-if="$first"></td>
						<td>{{provider.businessName}}</td>
						<td>
							<span ng-if="provider.cellPhone != null || provider.phone == null">{{provider.cellPhone}}</span>
							<span ng-if="provider.cellPhone == null && provider.phone != null">{{provider.phone}}</span>
						</td>
						<td >
							$ <a href="#" ng-style={{provider.ngStyle}} style="font-weight: bold;" editable-text="provider.estimatedPrice" onbeforesave="checkNumber($data)" onafterSave="save($data,provider)">{{  provider.estimatedPrice || '0'}}</a>
						</td>
						<td>
							<p>
								<button class="btn btn-info btn-xs btn-outline"
									ng-click="goToDetailProvider(provider)">
									<span class="fa fa-eye"></span>
								</button>
							</p>
						</td>
						<td>
							<div ng-controller="DeleteConfirmationModalNotPersistenceController">
								<p>
									<button class="btn btn-danger btn-xs btn-outline" ng-click="openDeleteListConfirmation(item.providers,provider)">
										<span class="fa fa-trash"></span>
									</button>
								</p>
							</div>
						</td>
						<td>
			          		<span ng-show="provider.selected">
			          			<p><button class="badge btn  progress-bar-success btn-xs" ng-click="setSelectProvider(item,provider)">
			          				<i class="fa fa fa-check glyphiconSpace"></i>
			          			</button></p>	
			          		</span>	
			          		<span ng-show="!provider.selected">
			          			<p><button class="btn btn-xs badge" ng-click="setSelectProvider(item,provider)">
			          				<i class="fa fa fa-check glyphiconSpace"></i>
			          			</button></p>	
			          		</span>	
			          	</td>
						<td ng-if="$first">
							<p>
								<button class="btn btn-info btn-xs btn-outline" ng-click="goToSearchAnotherProvider(provider)">
									<span class="fa fa-search"></span>
								</button>
							</p>
						</td>
						<td ng-if="$first"><p>
								<button class="btn btn-info btn-xs btn-outline" ng-click="goToMoreCheaper(provider)">
									<span class="fa fa-angle-double-down"></span><span class="fa fa-dollar"></span>
								</button>
							</p>
						</td>
					</tr>
					<tr ng-repeat-end></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="providers != null && providers.length != 0">
		<div class="line"></div>
		<div class="col-md-4">
			<button   type="button" class="btn btn-primary btn-outline" ng-click="saveSelectedProviders()"><span translate>budget.buttonSave<span/></button>
		</div>
	</div>		
</div>
