<div>
	<div class="row">
		<div class="col-md-12">
			<!-- 			<table id="budgetTable" class="table table-hover" ng-show="providers != null && providers.length"> -->
			<table class="table table-bordered"
				style="width: 90%; margin-left: 10px; margin-top: 10px">
				<tr class="active">
					<th>Type</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Estimated Price</th>
					<th>View</th>
					<th>Delete</th>
					<th>Selected</th>
					<th>Compare To</th>
					<th>More Cheaper</th>
				</tr>
				<tbody>
					<tr ng-repeat-start="item in items">
						<td colspan="9" ng-click="order.collapseRows = !order.collapseRows" class="collapsible-row">
							{{item.providerType}}  
							<span ng-class="{'caret':!order.collapseRows, 'right-caret':order.collapseRows}"></span>
							 <strong class="text-center">Total : $ <span class="text-danger">{{totalBudgetProvider}}</span></strong>
						</td>
					</tr>
					<tr ng-repeat-end ng-repeat="provider in item.providers" ng-hide="order.collapseRows">
						<td rowspan="{{item.providers.length}}" ng-if="$first"></td>
						<td>{{provider.businessName}}</td>
						<td>
							<span ng-if="provider.cellPhone != null || provider.phone == null">{{provider.cellPhone}}</span>
							<span ng-if="provider.cellPhone == null && provider.phone != null">{{provider.phone}}</span>
						</td>
						<td >
							$ <a href="#" ng-style={{provider.ngStyle}} style="font-weight: bold;" editable-text="provider.estimatedPrice" onbeforesave="checkNumber($data)" onafterSave="save($data,provider)">{{  provider.estimatedPrice || '0'}}</a>
						</td>
						<td>
							<p>
								<button class="btn btn-info btn-xs"
									ng-click="goToDetailProvider(provider)">
									<span class="fa fa-eye"></span>
								</button>
							</p>
						</td>
						<td>
							<div ng-controller="DeleteConfirmationModalNotPersistenceController">
								<p>
									<button class="btn btn-danger btn-xs" ng-click="openDeleteListConfirmation(item.providers,provider)">
										<span class="fa fa-trash"></span>
									</button>
								</p>
							</div>
						</td>
						<td>
			          		<span ng-show="provider.selected">
			          			<p><button class="badge btn  progress-bar-success btn-xs" ng-click="setSelectProvider(provider)">
			          				<i class="fa fa fa-check glyphiconSpace"></i>
			          			</button></p>	
			          		</span>	
			          		<span ng-show="!provider.selected">
			          			<p><button class="btn btn-xs badge" ng-click="setSelectProvider(provider)">
			          				<i class="fa fa fa-check glyphiconSpace"></i>
			          			</button></p>	
			          		</span>	
			          	</td>
						<td ng-if="$first">
							<p>
								<button class="btn btn-info btn-xs" ng-click="goToSearchAnotherProvider(provider)">
									<span class="fa fa-search"></span>
								</button>
							</p>
						</td>
						<td ng-if="$first"><p>
								<button class="btn btn-info btn-xs" ng-click="goToMoreCheaper(provider)">
									<span class="fa fa-angle-double-down"></span><span class="fa fa-dollar"></span>
								</button>
							</p>
						</td>
					</tr>
					<tr ng-repeat-end></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="line"></div>
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
			aria-expanded="true">
			Add Provider<span class="caret glyphiconSpace"></span>
		</button>
		<ul class="dropdown-menu" role="menu"
			ng-controller="ProviderTypeController">
			<li ng-repeat="type in types | orderBy:'toString()'"><a
				ui-sref="providerListState({providerType : type})">{{type}}</a></li>
		</ul>
	</div>
</div>
