<div >
	<div id="directives-calendar" ng-controller="CalendarEventController">
		<div class="well">
			<div class="row">
				<div class="span6">
					<div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar"
						ui-calendar="uiConfig.calendar"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<script type="text/ng-template" id="deleteCalendarEvent.html">
			<div class="modal-header">
        		<h4 class="modal-title custom_align" id="Heading"><span translate>modal.delete.title<span/></h4>
      		</div>
        	<div class="modal-body">
       			<div class="alert alert-warning"><span class="fa fa-warning glyphiconSpace"></span><span translate>modal.calendar.delete.question</span><strong> {{task.title}}</strong> ?</div>
       		</div>
        	<div class="modal-footer ">
        		<button type="button" class="btn btn-warning btn-outline" ng-click="ok()"><span class="fa fa-check-circle-o"></span> <span translate>modal.delete.questionYes<span /></button>
        		<button type="button" class="btn btn-warning btn-outline" ng-click="cancel()"><span class="fa fa-close"></span> <span translate>modal.delete.questionNo<span/></button>
      		</div>
    	</script>
</div>	


<div>
	<script type="text/ng-template" id="addCalendarEvent.html">
		<div class="modal-header">
        		<h4 class="modal-title custom_align" id="Heading"><span translate>modal.calendar.add.title<span/></h4>
      		</div>
        <div class="modal-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<textarea class="form-control" rows="2" placeholder="{{'modal.calendar.add.input.note' | translate}} : " ng-model="task.name" required></textarea>
					</div>
				</div>
			</div>
			<div class="row">
					<div ng-controller="datepickerController">
						<div class="col-lg-6">
							<p class="input-group">
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" placeholder="{{'modal.calendar.add.input.taskInitialDate' | translate}}"
									ng-model="task.initialDate" is-open="opened" min-date="minDate"
									max-date="maxDate" datepickerOptions="dateOptions" ng-required close-text="Close"/>
									<span class="input-group-btn">
										<button type="button btn-outline" class="btn btn-default"
											ng-click="open($event)"><i class="fa fa-calendar"></i>
										</button>
									</span>
							</p>
						</div>
					</div>
					<div ng-controller="datepickerController">
						<div class="col-lg-6">
							<p class="input-group">
								<input type="text" class="form-control"
									datepicker-popup="{{format}}" placeholder="{{'modal.calendar.add.input.taskFinalDate' | translate}}"
									ng-model="task.finalDate" is-open="opened" min-date="minDate"
									max-date="maxDate" datepickerOptions="dateOptions" ng-required close-text="Close"/>
									<span class="input-group-btn">
										<button type="button btn-outline" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i>
										</button>
									</span>
							</p>
						</div>
					</div>
				</div>	
       		</div>
		</div>
        <div class="modal-footer ">
        	<button type="button" class="btn btn-warning btn-outline" ng-click="ok()"><span class="fa fa-check-circle-o"></span> <span translate>modal.delete.questionYes<span/></button>
        	<button type="button" class="btn btn-warning btn-outline" ng-click="cancel()"><span class="fa fa-close"></span> <span translate>modal.delete.questionNo<span/></button>
      	</div>
	</script>
</div>