<div>
	<form name="eventForm" role="form">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" name="name"
						placeholder="Name" ng-model="event.name" ng-required>
				</div>
			</div>
			
			<div ng-controller="datepickerController">
				<div class="col-md-4">
					<p class="input-group">
						<input type="text" class="form-control"
							datepicker-popup="{{format}}" placeholder="Event Date"
							ng-model="event.initialDate" is-open="opened" min-date="minDate"
							max-date="maxDate" datepickerOptions="dateOptions" ng-required close-text="Close" ng-change="onDateChange(event.initialDate)"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="open($event)"><i class="fa fa-calendar"></i>
								</button>
							</span>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<ui-select ng-model="event.type" theme="selectize">
    				<ui-select-match placeholder="Event type">{{$select.selected}}</ui-select-match>
    				<ui-select-choices repeat="eventType in eventTypes">{{eventType}}</ui-select-choices>
  				</ui-select>
			</div>
		</div>	
		<div class="row">	
			<div class="col-sm-2">
				<button class="btn btn-primary btn-block" type="submit" ng-click="save()"><i class="fa fa-plus glyphiconSpace"></i><span translate>events.detail.buttonAdd<span /></button>
			</div>
		</div>		
	</form>
</div>