<div class="row">
	<div class="col-sm-3 col-md-3" ng-controller="accordionCtrl">
		<accordion close-others="oneAtATime">
			<accordion-group is-open="isFirstOpen">
				<accordion-heading>
					<span class="fa fa-folder-open text-success  glyphiconSpace"> </span>Organize
				</accordion-heading>
				<div>
					<table class="table">
						<tr>
							<td>
								<span class="fa fa-home text-primary glyphiconSpace"></span><a ui-sref="eventState.place">Place</a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-envelope text-primary glyphiconSpace"></span><a ui-sref="eventState.guests">Invite</a>
							</td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-users text-primary glyphiconSpace"></span><a ui-sref="eventState.providers">Providers</a>
							</td>
						</tr>
						<tr>
							<td><span class="fa fa-gift text-primary glyphiconSpace"></span><a href>Gifts</a></td>
						</tr>
						<tr>
							<td>
								<span class="fa fa-money text-primary glyphiconSpace"></span><a ui-sref="eventState.budget">Budget</a> 
							</td> 
						</tr>
						<!-- 								<span class="badge"> -->
					</table>
				</div>
			</accordion-group>
			<accordion-group>
				<accordion-heading>
					<span class="fa fa-tags text-success glyphiconSpace"> </span>Tasks
				</accordion-heading>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td><span class="fa fa-calendar text-success glyphiconSpace"></span><a ui-sref="eventState.calendar">Calendar</a></td>
						</tr>
						<tr>
							<td><span class="fa fa-file text-success glyphiconSpace"></span><a
								href>Notes</a></td>
						</tr>
					</table>
				</div>
			</accordion-group> 
			<accordion-group>
				<accordion-heading>
					<span class="fa fa-user text-success glyphiconSpace"> </span>Account
				</accordion-heading>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td><a href>Change Password</a></td>
						</tr>
						<tr>
							<td><a href>Notifications</a> <span
								class="label label-info">5</span></td>
						</tr>
						<tr>
							<td><a href>Import/Export</a></td>
						</tr>
						<tr>
							<td><span class="fa fa-trash text-danger glyphiconSpace"></span><a
								href class="text-danger"> Delete Account</a></td>
						</tr>
					</table>
				</div>
			</accordion-group> 
		</accordion>	 
	</div>
	<div class="col-sm-9" >
		<div ng-controller="SelectedEventController">
			<span ng-show="loggedUser != null && selectedEvent == null">
				<ol class="breadcrumb text-center alert-danger">	
					<strong>Please, selected an event to organize !</strong>
				</ol>
			</span>	
			<span ng-show="selectedEvent != null">	
				<ol class="breadcrumb text-center alert-success">	
					<strong>Selected Event : {{selectedEvent.name}}</strong>
				</ol>
		</div>	
<!-- 		class="animated fadeInRight" -->
		<div ui-view></div>
	</div>
	
	<div ng-controller="DeleteConfirmationModalController">
		<script type="text/ng-template" id="deleteConfirmation.html">
			<div class="modal-header">
        		<h4 class="modal-title custom_align" id="Heading">Delete entry</h4>
      		</div>
        	<div class="modal-body">
       			<div class="alert alert-warning"><span class="fa fa-warning glyphiconSpace"></span> Are you sure you want to delete ?</div>
       		</div>
        	<div class="modal-footer ">
        		<button type="button" class="btn btn-warning" ng-click="ok()"><span class="fa fa-check-circle-o"></span> Yes</button>
        		<button type="button" class="btn btn-warning" ng-click="cancel()"><span class="fa fa-close"></span> No</button>
      		</div>
    	</script>
	</div>	
</div>

