<div class="container">
	<div class="row">
		<div class="col-sm-3 col-md-3" ng-controller="accordionCtrl">
			<accordion close-others="oneAtATime">
				<accordion-group is-open="isFirstOpen">
					<accordion-heading>
						<span class="fa fa-folder-open text-success  glyphiconSpace pull-left"> </span><legend translate>events.menu.organize<legend />
					</accordion-heading>
					<div>
						<table class="table">
							<tr>
								<td>
									<span class="fa fa-calendar text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.events"><legend translate>events.menu.myEvents<legend /></a>
								</td>
							</tr>
<!-- 							<tr> -->
<!-- 								<td> -->
<!-- 									<span class="fa fa-home text-primary glyphiconSpace"></span><a ui-sref="eventState.place">Place</a> -->
<!-- 								</td> -->
<!-- 							</tr> -->
							<tr>
								<td>
									<span class="fa fa-home text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.place"><legend translate>events.menu.myPlace<legend /></a>
								</td>
							</tr>
							<tr>
								<td>
									<span class="fa fa-home text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.placeAdmin"><legend translate>events.menu.placeAdmin<legend /></a>
								</td>
							</tr>
							<tr>
								<td>
									<span class="fa fa-envelope text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.guests"><legend translate>events.menu.invite<legend/></a>
								</td>
							</tr>
							<tr>
								<td>
									<span class="fa fa-users text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.providers"><legend translate>events.menu.providers<legend/></a>
								</td>
							</tr>
							<tr>
								<td><span class="fa fa-gift text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.presents"><legend translate>events.menu.gifts<legend/></a></td>
							</tr>
							<tr>
								<td>
									<span class="fa fa-money text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.budget"><legend translate>events.menu.budget<legend/></a> 
								</td> 
							</tr>
							<!-- 								<span class="badge"> -->
						</table>
					</div>
				</accordion-group>
				<accordion-group>
					<accordion-heading>
						<span class="fa fa-tags text-success glyphiconSpace pull-left"> </span><legend translate>events.menu.tasks<legend />
					</accordion-heading>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td><span class="fa fa-calendar text-success glyphiconSpace pull-left"></span><a ui-sref="eventState.calendar"><legend translate>events.menu.calendar<legend /></a></td>
							</tr>
							<tr>
								<td>
									<span class="fa fa-file text-success glyphiconSpace pull-left"></span>
									<a ui-sref="eventState.scheduled"><legend translate>events.menu.scheduled<legend/></a>
								</td>
							</tr>
						</table>
					</div>
				</accordion-group> 
				<accordion-group>
					<accordion-heading>
						<span class="fa fa-user text-success glyphiconSpace pull-left"> </span><legend translate>events.menu.account<legend/>
					</accordion-heading>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td class="pull-left"><a href><legend translate>events.menu.changePass<legend/></a></td>
							</tr>
							<tr ng-controller="ReviewsPendingController">
								<td><span class="fa fa-star-half-empty text-primary glyphiconSpace pull-left"></span><a ui-sref="eventState.reviews"><legend translate>events.menu.notifications<legend /></a>
								<span class="label label-warning pull-right" style="border-radius: 1em">{{pendingReviews}}</span></td>
							</tr>
							<tr>
								<td><span class="fa fa-trash text-danger glyphiconSpace pull-left"></span><a
									href class="text-danger"><legend translate>events.menu.deleteAccount<legend /></a></td>
							</tr>
						</table>
					</div>
				</accordion-group> 
			</accordion>	 
			<div class="list-group" ng-controller="SummaryViewEventController" style="border: 1px;">
		         <div class="list-group-item" style="background-color: #FA7D7D;">
		             <h3 class="pull-right">
		                 <i class="text-info fa fa-eye"></i>
		             </h3>
		             <h4 class="list-group-item-heading count" >{{summaryViewEvent.name || "No Event Selected"}}</h4>
		             <p class="list-group-item-text"><legend translate>events.summary.selectedEvent<legend /></p>
		         </div>
		         <div class="list-group-item" style="background-color: #FA7D7D;">
		             <h3 class="pull-right">
		                 <i class="text-success fa fa-money"></i>
		             </h3>
		             <h4 class="list-group-item-heading count">$ {{summaryViewBudget || 0}}</h4>
		             <p class="list-group-item-text"><legend translate>events.summary.totalBudget<legend /></p>
		         </div>
	   		</div>
		</div>
		
		<div class="col-sm-9" >
<!-- 			<div ng-controller="SelectedEventController"> -->
<!-- 				<span ng-show="loggedUser != null && selectedEvent == null"> -->
<!-- 					<ol class="breadcrumb text-center alert-danger">	 -->
<!-- 						<strong>Please, selected an event to organize !</strong> -->
<!-- 					</ol> -->
<!-- 				</span>	 -->
<!-- 				<span ng-show="selectedEvent != null">	 -->
<!-- 					<ol class="breadcrumb text-center alert-success">	 -->
<!-- 						<strong>Selected Event : {{selectedEvent.name}}</strong> -->
<!-- 					</ol> -->
<!-- 			</div>	 -->
	<!-- 		class="animated fadeInRight" -->
			<div ui-view></div>
		</div>
	<!-- 	<div ui-view="dragAndDropView"></div>	 -->
	</div>
</div>
<div ng-controller="DeleteConfirmationModalController">
		<script type="text/ng-template" id="deleteConfirmation.html">
			<div class="modal-header">
        		<h4 class="modal-title custom_align" id="Heading"><legend translate>modal.delete.title<legend /></h4>
      		</div>
        	<div class="modal-body">
       			<div class="alert alert-warning"><span class="fa fa-warning glyphiconSpace"></span><legend translate>modal.delete.question<legend /></div>
       		</div>
        	<div class="modal-footer ">
        		<button type="button" class="btn btn-warning" ng-click="ok()"><span class="fa fa-check-circle-o"></span> <legend translate>modal.delete.questionYes<legend /></button>
        		<button type="button" class="btn btn-warning" ng-click="cancel()"><span class="fa fa-close"></span> <legend translate>modal.delete.questionNo<legend/></button>
      		</div>
    	</script>
</div>	