<div ng-controller="providerEventController">
	<div class="row">
		<div class="col-md-12">
			<table id="guestsTable" class="table table-bordred table-striped" ng-show="providers != null && providers.length">
				<thead>
				  <tr>
				     <th>Name</th>
		           	 <th>Type</th>
					 <th>Details</th>
				     <th>Edit</th>
		             <th>Delete</th>
				  </tr>
				</thead>
				<tbody>
			        <tr ng-repeat="provider in providers">
			          <td>{{provider.businessName}}</td>
			          <td>{{provider.providerType}}</td>
			          <td><p><button class="btn btn-primary" ng-click="goToDetailProvider(provider)"><span class="glyphicon glyphicon-eye-open"></span></button></p></td>
			          <td><p><button class="btn btn-primary" ng-click="goToDetailProvider(provider)"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
	    			  <td><div ng-controller="deleteConfirmationModalController">
	    			  	  	<p><button class="btn btn-danger" ng-click="openDeleteConfirmation(provider)"><span class="glyphicon glyphicon-trash"></span></button></p></td>
	 		        	  </div>	
	 		        </tr>
		    	</tbody>
			</table>
		</div>
	</div>
	<div class="line"></div>
	<button class="btn btn-primary pull-right" ng-click="goAddPerson()"><span class="glyphicon glyphicon-plus">Add Provider</span></button>		
</div>
