<script type="text/ng-template" id="/location.html">
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<input type="text" class="form-control" name="name"
				placeholder="Country" ng-model="location.countryCode">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="province"
				placeholder="State or Province" ng-model="location.province">
		</div>
		<div class="form-group">
			<input type="email" class="form-control" name="city"
				placeholder="city" ng-model="location.city" required>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<input type="text" class="form-control" name="name"
				placeholder="Country" ng-model="location.countryCode">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="province"
				placeholder="State or Province" ng-model="location.province">
		</div>
		<div class="form-group">
			<input type="email" class="form-control" name="city"
				placeholder="city" ng-model="location.city" required>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<input type="text" class="form-control" name="name"
				placeholder="Country" ng-model="location.streetAddress.street">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="province"
				placeholder="State or Province" ng-model="location.streetAddress.number">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" name="city"
				placeholder="city" ng-model="location.streetAddress.neighborhood" required>
		</div>
		
		<div class="form-group">
			<input type="text" class="form-control" name="city"
				placeholder="city" ng-model="location.streetAddress.additionalInfo" required>
		</div>
	</div>
</div>
</script>
