<div>
	<form id="event-new-form" role="form">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" name="placeName"
						placeholder="Nombre Del Lugar"
						ng-model="event.eventLocation.placeName" required>
				</div>
			</div>	
		</div>		
		<div ng-show="!showMoreInfo" ng-animate="animate">
			<a class="btn btn-primary pull-right" ng-click="goMoreInfo()"><span class="glyphicon glyphicon-plus">Info</span></a>
		</div>
		
		<div class="more-info" ng-show="showMoreInfo">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" class="form-control" name="name"
							placeholder="Country" ng-model="location.countryCode">
					</div>
				</div>	
				<div class="col-md-4">	
					<div class="form-group">
						<input type="text" class="form-control" name="province"
							placeholder="State or Province" ng-model="location.province">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input type="email" class="form-control" name="city"
							placeholder="city" ng-model="location.city" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<input type="text" class="form-control" name="name"
							placeholder="Street" ng-model="location.streetAddress.street">
					</div>
				</div>	
				<div class="col-md-4">	
					<div class="form-group">
						<input type="text" class="form-control" name="province"
							placeholder="Number" ng-model="location.streetAddress.number">
					</div>
				</div>	
				<div class="col-md-4">	
					<div class="form-group">
						<input type="text" class="form-control" name="city"
							placeholder="neighborhood" ng-model="location.streetAddress.neighborhood" required>
					</div>
				</div>	
				<div class="col-md-4">	
					<div class="form-group">
						<input type="text" class="form-control" name="city"
							placeholder="Additional Info" ng-model="location.streetAddress.additionalInfo" required>
					</div>
				</div>
			</div>
		</div>
			
			<div class="col-md-4">
				<div class="form-group">
					<button type="button" class="btn btn-primary" ng-click="goToListProvider()"><span class="glyphicon glyphicon-plus"></span>Choose Place</button>
				</div>
			</div>
	</form>
</div>
