<div class="container">
	<div ng-controller="ProviderDetailController">
		<div class="row">
			<div class="col-lg-6 col-sm-4">
			  <div ng-controller="providerCarouselCtrl" ng-init="init(provider)">
					<carousel interval="interval" disable-animation="true"> 
						<slide ng-repeat="slide in slides" active="slide.active"> 
							<img ng-src="{{slide.image}}" style=" width: 300px; height: 150px; margin: 0 auto;">
						</slide> 
					</carousel>
				</div>
			</div>
			<div class="col-lg-6 col-sm-4 pull-left">
				<div class="panel panel-default">
				  <div class="panel-heading text-center"><strong>{{provider.businessName}}</strong></div>
					  	<ul class="list-group">
						   	<li class="list-group-item"><i class="fa fa-map-marker glyphiconSpace"></i>
								{{provider.location.streetAddress.street}}
								{{provider.location.streetAddress.number}}
								{{provider.location.streetAddress.additionalInfo}}
								{{provider.location.streetAddress.neighborhood}}.
								{{provider.location.city}} ({{provider.location.province}})</li>
						  	<li class="list-group-item"><i class="fa fa-money glyphiconSpace"></i><strong>$ {{provider.estimatedPrice}}</strong></li>
						  	<li class="list-group-item"><i class="fa fa-male glyphiconSpace"></i>{{provider.providerType}}</li>
						    <li class="list-group-item"><i class="fa fa-envelope glyphiconSpace"></i>{{provider.email}}</li>
						    <li class="list-group-item"><i class="fa fa-mobile glyphiconSpace"></i>{{provider.cellPhone}}</li>
						    <li class="list-group-item"><i class="fa fa-phone glyphiconSpace"></i>{{provider.phone}}</li>
					  </ul>
				</div>
			</div>
		</div>	
		<div class="row">   
			<div class="col-lg-6 col-sm-4 scrollable-y">
					<div ng-repeat="review in provider.reviews">
						<div class="panel panel-default" style="height: 10%">
			            	<div class="panel-heading text-center"><i class="fa fa-user text-info glyphiconSpace"></i>{{review.userName}}
			                	<span class="pull-right">
			                		<span ng-repeat="star in getStars(review)">
			                			<span class="fa fa-star text-warning"></span>
			                		</span>
			                		<span ng-repeat="star in getEmptyStars(review)">
			                			<span class="fa fa-star-o text-warning"></span>
			                		</span>
			                    </span>
			                </div>
				            <div class="panel-body">
				            	<p style="margin: 10px;">{{review.message}}</p>
				            </div> 
				        </div>
				 	</div>
			 </div>
	  		<div class="col-lg-6 col-sm-4">
	  	    	<div mievento-map="" marker-map="markerMap" center-map="centerMap"></div>
	   		</div>
	    </div>
	</div>
</div>

