
<div class="providerElement">
	<div class="container" ng-controller="providerListController">
		<div class="row oneElement" ng-repeat="provider in providers">
			<div class="media">
				<a class="pull-left" href="#"> <img class="media-object"
					alt="64x64" ng-src="../img/{{provider.picture}}.jpg"
					style="width: 360px; height: 270px;">
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{provider.businessName}}</h4>
					<h6 class="media-heading">
						<i class="fa fa-map-marker color-red"> {{provider.location.streetAddress.street}}
							{{provider.location.streetAddress.number}}
							{{provider.location.streetAddress.additionalInfo}}
							{{provider.location.streetAddress.neighborhood}}.
							{{provider.location.city}} ({{provider.location.province}})</i>
					</h6>
					<div class="description">{{provider.description}}</div>
				</div>
				<hr class="divide"/>
				<p class="price">
					<small>Precio Desde : </small>
					<i class="fa fa-money"><strong> ${{provider.estimatedPrice}}</strong></i>
							<span class="glyphicon glyphicon-star"></span>
                        	<span class="glyphicon glyphicon-star"></span>
                        	<span class="glyphicon glyphicon-star"></span>
                        	<span class="glyphicon glyphicon-star"></span>
                        	<span class="glyphicon glyphicon-star-empty"></span>
                    	 Promedio 3.9 <small> / </small> 5
                     <span class="pull-right buttons">
                    	<button class="btn btn-sm btn-default" ng-click="goToDetail(provider)"><i class="fa fa-eye"></i> Detail</button>
                    	<button class="btn btn-sm btn-primary" ng-click="addProvider(provider)"><i class="fa fa-plus"></i> Add</button>
                	</span>	 
            	 	
				</p>
			</div>    
		</div>
	<hr class="divide"/>
	</div>
</div>
	 