<div class="container">
	<div class="providerElement">
		<div class="container" ng-controller="ProviderListController">
			<div class="centered-message" ng-show="searching"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
			<div class="centered-message" class="row" ng-show="!searching && (providers == null || providers.length == 0)">
				<span class="font-noResult"><span translate>provider.list.notthere<span /></span>
			</div>
			
			<div class="row oneElement" ng-repeat="provider in providersPagination  |  orderBy:-estimatedPrice ">
				<div class="media">
					<a class="pull-left" ng-click="	" href>
					  <div  ng-controller="providerCarouselCtrl" ng-init="init(provider)" class="media-object" style=" width: 300px; height: 150px; margin: auto;">
							<carousel interval="interval" disable-animation="true"> 
								<slide ng-repeat="slide in slides" active="slide.active"> 
									<img ng-src="{{slide.image}}" style=" width: 300px; height: 150px; margin: auto;">
								</slide> 
							</carousel>
						</div>
					</a>	
		
					<div class="media-body">
						<h4 class="media-heading">{{provider.businessName}}</h4>
						<h6 class="media-heading">
							<i class="fa fa-map-marker color-red"> {{provider.location.streetAddress.street}}
								<span ng-show="provider.location.streetAddress.number !=null && provider.location.streetAddress.number != 0">{{provider.location.streetAddress.number}}</span>
								{{provider.location.streetAddress.additionalInfo}}
								{{provider.location.streetAddress.neighborhood}}
								{{provider.location.city}} ({{provider.location.province}})</i>
						</h6>
						<span class="star text-danger pull-right">
							<span ng-repeat="star in getAverageStars(provider)">
	                			<i class="fa fa-star fa-2x"></i>
	                		</span>
	                		<span ng-repeat="star in getAverageEmptyStars(provider)">
	                			<i class="fa fa-star-o fa-2x"></i>
	                		</span>
	                    </span>
					</div>
					<hr class="divide"/>
					<span class="price">
						<small><span translate>provider.list.priceSince<span /></small>
						<i class="fa fa-money glyphiconSpace"><strong> ${{provider.estimatedPrice}}</strong></i>
					</span>	
				     <span class="pull-right buttons">
	                   	<button class="btn btn-sm btn-default btn-outline" ng-click="goToDetail(provider)"><i class="fa fa-eye"></i> <span translate>provider.list.buttonDetail<span /></button>
	                   	<button class="btn btn-sm btn-primary btn-outline" ng-click="addProvider(provider)"><i class="fa fa-plus"></i> <span translate>provider.list.buttonAdd<span /></button>
	         	     </span>	 
				</div>    
				<hr class="divide"/>
			</div>
			<div ng-show="providers "= null && providers.length != 0" class="row">
				<pagination total-items="totalItems" items-per-page="itemPerPage" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" direction-links="false" rotate="false"></pagination>
			</div>
		</div>
		
	</div>
</div>	 