<div class="home">
	<div class="container">
	    <div class="col-md-10 col-sm-offset-1">
	        <div class="panel panel-default">
	            <div class="panel-heading"><legend translate>home.searchLabel</legend></div>
	            <div class="panel-body">
	               <form role="form" style="margin: 25px;">
	                	<div class="form-group">
			                 <div class="col-sm-4">
								<ui-select ng-model="search.providerType" theme="selectize">
					   				<ui-select-match placeholder="Provider type">{{$select.selected}}</ui-select-match>
					   				<ui-select-choices repeat="provider in providerTypes">{{provider}}</ui-select-choices>
					 			</ui-select>
							</div>
							<div class="col-sm-3">
								<ui-select  ng-change="loadStates()" ng-model="search.country" theme="selectize">
					   				<ui-select-match placeholder="Country">{{$select.selected.name}}</ui-select-match>
					   				<ui-select-choices repeat="country in countries">{{country.name}}</ui-select-choices>
					 			</ui-select>
							</div>
					        <div class="col-sm-3">
								<ui-select  ng-model="search.province" theme="selectize">
					   				<ui-select-match placeholder="Province or State">{{$select.selected.name}}</ui-select-match>
					   				<ui-select-choices repeat="state in states">{{state.name}}</ui-select-choices>
					 				</ui-select>
							</div>
							<div class="col-sm-2">
					             <button type="submit" class="btn btn-success" ng-click="search()"><legend translate>home.searchButton<legend/></button>
					        </div>
						</div>
	                </form>
	            </div>
	            <div class="panel-footer">
	                <legend translate>home.searchFooter.notRegistered<legend/><a ui-sref="signUpState"><legend translate>home.searchFooter.registered<legend/></a></div>
	           </div>
	        	
	    </div>
	</div>
</div>


<div class="row">
<div id="eventTypes" class="container" style="margin-top: 5%;">
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle"
				src="../img/evento.jpg"
				alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2><spring:message code="home.bussinesFeature.1.title"/></h2>
			<p><spring:message code="home.bussinesFeature.1.description"/></p>
	    </div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle"
				src="../img/organizacion.jpg"
				alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2><spring:message code="home.bussinesFeature.2.title"/></h2>
			<p><spring:message code="home.bussinesFeature.2.description"/></p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle"
				src="../img/casamiento.jpg"
				alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2><spring:message code="home.bussinesFeature.3.title"/></h2>
			<p><spring:message code="home.bussinesFeature.3.description"/></p>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				<legend translate>home.appFeature.1.title<legend /><span class="text-muted"><legend translate>home.appFeature.1.subtitle<legend /></span>
			</h2>
			<p class="lead"><legend translate>home.appFeature.1.desc<legend /></p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				data-src="holder.js/100x100/auto" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">
				<spring:message code="home.appFeature.2.title"/><span class="text-muted"><legend translate>home.appFeature.2.subtitle<legend/></span>
			</h2>
			<p class="lead"><legend translate>home.appFeature.2.desc<legend/></p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				 <legend translate>home.appFeature.3.title<legend/><span class="text-muted"><legend translate>home.appFeature.3.subtitle<legend/></span>
			</h2>
			<p class="lead"><legend translate>home.appFeature.3.desc<legend/></p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->
</div>	
</div>	
