<div class="home">
	<div class="container">
	    <div class="col-md-10 col-sm-offset-1">
	        <div class="panel panel-default">
	            <div class="panel-heading"><span translate>home.searchLabel</span></div>
	            <div class="panel-body">
	               <form name="homeSearchForm" style="margin: 25px;">
	                	<div class="form-group" ng-controller="LocationSearchComboController">
			                 <div class="col-sm-4">
								<ui-select ng-model="search.providerType" theme="selectize" ng-required>
					   				<ui-select-match placeholder="{{'home.input.providerType' | translate}}">{{$select.selected}}</ui-select-match>
					   				<ui-select-choices repeat="provider in providerTypes | filter: $select.search">{{provider}}</ui-select-choices>
					 			</ui-select>
							</div>
							<div class="col-sm-3">
								<ui-select  ng-change="loadStates()" ng-model="search.country" theme="selectize" >
					   				<ui-select-match placeholder="{{'home.input.country' | translate}}">{{$select.selected.name}}</ui-select-match>
					   				<ui-select-choices repeat="country in countries | filter: $select.search">{{country.name}}</ui-select-choices>
					 			</ui-select>
							</div>
					        <div class="col-sm-3">
								<ui-select  ng-model="search.province" theme="selectize">
					   				<ui-select-match placeholder="{{'home.input.state' | translate}}">{{$select.selected.name}}</ui-select-match>
					   				<ui-select-choices repeat="state in states | filter: $select.search">{{state.name}}</ui-select-choices>
					 				</ui-select>
							</div>
							<div class="col-sm-2">
					             <button type="submit" class="btn btn-success btn-outline" ng-click="search()"><span translate>home.searchButton<span/></button>
					        </div>
						</div>
	                </form>
	            </div>
	            <div class="panel-footer">
	                <span translate>home.searchFooter.notRegistered</span><a href ui-sref="signUpState"><span translate>home.searchFooter.registered</span></a>
	                <a href ui-sref="providerAdvancedSearch"><span translate class="pull-right">advancedSearch.link</span></a>
	           </div>
	        	
	    </div>
	</div>
</div>
</div>

<div class="row">
<div id="eventTypes" class="container" style="margin-top: 5%;">
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle"
				src="../img/evento.jpg"
				alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2><span translate>home.bussinesFeature.1.title</span></h2>
			<p><span translate>home.bussinesFeature.1.description</span></p>
	    </div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle"
				src="../img/organizacion.jpg"
				alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2><span translate>home.bussinesFeature.2.title</span></h2>
			<p><span translate>home.bussinesFeature.2.description</span></p>
		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle"
				src="../img/casamiento.jpg"
				alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2><span translate>home.bussinesFeature.3.title</h2>
			<p><span translate>home.bussinesFeature.3.description</span></p>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				<span translate>home.appFeature.1.title</span><span class="text-muted"><span translate>home.appFeature.1.subtitle</span></span>
			</h2>
			<p class="lead"><span translate>home.appFeature.1.desc</span></p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				data-src="holder.js/100x100/auto" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">
				<span translate>home.appFeature.2.title</span><span class="text-muted"><span translate>home.appFeature.2.subtitle</span></span>
			</h2>
			<p class="lead"><span translate>home.appFeature.2.desc</span></p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">
				 <span translate>home.appFeature.3.title</span><span class="text-muted"><span translate>home.appFeature.3.subtitle</span></span>
			</h2>
			<p class="lead"><span translate>home.appFeature.3.desc</span></p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive"
				data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->
</div>	
</div>	
