
<div class="omb_login">
	<h3 class="omb_authTitle">Registrarse</h3>
	<div class="row omb_row-sm-offset-3">
		<div class="col-xs-12 col-sm-6">
			<form name="siginUpForm" class="omb_loginForm" action=""
				autocomplete="off" method="POST">
				<div class="input-group" ng-class="">
					<span class="input-group-addon"><i class="fa fa-user"></i></span> <input
						type="text" class="form-control" name="nickname"
						placeholder="nick name" ng-model="user.nickName"
						required>
				</div>
				<div class="input-group" ng-class="errorMailClass">
					<span class="input-group-addon"><i class="fa fa-envelope"></i></span> <input
						type="text" class="form-control" name="email"
						placeholder="email address" ng-model="user.email"
						ng-pattern="mailPattern" required>
				</div>
			
				<div class="input-group" ng-class="errorPasswordClass">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span> 
					<input type="password" class="form-control" name="password"
						placeholder="Clave" ng-model="user.password" required> 
					
					<span class="input-group-addon"><i class="fa fa-lock"></i></span> 
					<input type="password" class="form-control" name="passwordRepeat"
						placeholder="Repetir Clave" ng-model="passwordRepeat" required>
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit"
					ng-click="signUp()">Registrar</button>
			</form>
		</div>
	</div>
</div>