/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login{
	margin-bottom: 10%;
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
	padding-top: 2%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
	padding-bottom: 2%;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}

.omb_login .omb_loginForm .input-group {
	margin-bottom: 2%;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
/* .marketing .col-lg-4 { */
/*   margin-top: 30px;		 */
/*   margin-bottom: 20px; */
/*   text-align: center; */
/* } */
/* .marketing h2 { */
/*   font-weight: normal; */
/* } */
/* .marketing .col-lg-4 p { */
/*   margin-right: 10px; */
/*   margin-left: 10px; */
/* } */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/** FOOTER */

.line {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}


/** PROVIDERS **/

.providerElement .container{
	margin-bottom: 5%;
}

.providerElement .oneElement{
	border:solid 2px #D4D8D1;
	padding: 5px;
	margin-bottom: 2%;
}

.providerElement .media-body{
	margin-bottom: 5%;
}

.providerElement .media-body .description{
	margin-top: 3%;
}

.providerElement .price{
	border-right: 5px grey;
}


/** EVENTS VIEW **/

.glyphiconSpace { margin-right:10px; margin-left:2px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 35px }
.panel-body .table {margin-bottom: 0px; }

.nav, .pagination, .carousel, .panel-title, .panel-heading a { cursor: pointer; }

.top-buffer { margin-top:40px; }

input.ng-dirty.ng-invalid {
  color: red
}


/*** Calendar ***/

/* .calAlert{ */
/* 	width: 595px; float: right; margin-bottom: 5px; */
/* } */

/* .calXBtn{ */
/* 	float: right; margin-top: -5px; margin-right: -5px; */
/* } */

/* .calWell{ */
/* 	float: left; margin-bottom: 40px; */
/* } */

/* .fc-event.openSesame .fc-event-skin{ */
/* 	background-color: rgb(229, 229, 11); */
/* 	color: black; */
/* } */

/* .fc-event.customFeed .fc-event-skin{ */
/* 	background-color: rgb(132, 222, 175); */
/* 	color: black; */
/* } */

/* .calTools{ */
/* 	margin-bottom: 10px; */
/* } */


/* .empty-font { */
/* 	font-family: monospace; */
/* 	font-size: xx-large; */
/* 	font: small-caps; */
/* 	color: #bfbfbf; */
/* 	text-align: center; */
/* } */




.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

/* Styles go here */
.collapsible-row:hover
{
    cursor: pointer;
    background-color:#EDF4F5;
}

.table-filter
{
    margin-bottom:20px;
}

    .table-filter input
    {
        width:200px;
        display:inline-block;
        margin-right:20px;
    }

    .table-filter:first-child input
    {
        float: left;
        display: block;
    }

    .table-filter::after 
    {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
    }

.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}



.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 

@media (max-width: 767px) {
    
}

/* Tables Adminsitrator */

.rectangle { 
	height: 380px !important; 
	border: solid 1px;  
	border-radius: 4px;  
	box-shadow: 0 0 6px #ccc;
	background: url("../img/floor.jpg") repeat center center fixed;
}

.droppable.guest {
	 width: 180px; height: 30px; padding-left: 4px;
}

.draggable-guest {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 1px;
}


.draggable-table {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: solid 1px;  
	box-shadow: 0 0 6px #ccc;
	background: url("../img/table.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.offsetTables {
	margin-top: 60px;	
}



.placeAdminTable {
    width: 45px;
	height: 45px;
	border-radius: 50%;
	border: solid 1px;
    display: inline-block;
    position: absolute;
}

.droppable-table {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 1px;
}

.placeAdminTable.taable {
    width: 100px;
    height: 100px;
  	box-shadow: 0 0 6px #ccc;
 	background: url("../img/table.jpg") no-repeat center center fixed;
}

.one {
    left: -30px;
    top: -35px;
}

.two {
    top: -55px;
    left: 30px;
}

.three {
    right: -30px;
    top: -35px;
}


.four {
    left: -30px;
    bottom: -35px;
}

.five {
    right: -55px;
    bottom: 30px;
}

.six {
    bottom: -55px;
    left: 30px;
}

.seven {
    right: -30px;
    bottom: -35px;
}

.eight {
    left: -55px;
    bottom: 30px;
}
